<ion-header>
  <ion-navbar color="grade">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calculadora</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-item>
        <ion-textarea #inputdisplay placeholder="Escriba una formula. p.ej: 1.2 * (2 + 4.5)" [(ngModel)]="display" autofocus></ion-textarea>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="modelNums" color="secondary">
          <ion-segment-button *ngFor="let item of listCharsNum" [value]="item.value" (click)="addCharDisplay(item.value)">
            {{ item.show }}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="modelBase" color="secondary">
          <ion-segment-button *ngFor="let item of listCharsBase" [value]="item.value" (click)="addCharDisplay(item.value)">
            {{ item.show }}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="modelAlg" color="secondary">
          <ion-segment-button *ngFor="let item of listCharsAlgebra" [value]="item.value" (click)="addCharDisplay(item.value)">
            {{ item.show }}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>

    <ion-card-header>
      Resultado
    </ion-card-header>

    <ion-card-content>
      <div>{{ result }}</div>      
    </ion-card-content>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab>Borrar</button>
    <ion-fab-list side="top">
      <button ion-fab (click)="cleanDisplay()">
        <<<
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab (click)="quitLast()">
        <
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
